.participant-badge-artwork {
  position: relative;
  overflow: hidden;
  background-image: none !important;
}

.participant-badge-artwork > img {
  position: absolute;
  display: block;
  max-width: none;
  max-height: none;
  pointer-events: none;
  user-select: none;
}
